@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700;900&display=swap');

.container-culinaria{
    display: flex;
    font-family: 'Raleway', sans-serif;
    background-color: gainsboro;
    padding: 30px 90px;
}

.container-culinaria img{
    width: 35%;
    padding-right: 30px;
}

.container-culinaria p{
    font-size: 30px;
    font-weight: 900;
    color: #9b2226
}