@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700;900&display=swap');

.container-culinaria{
    display: flex;
    font-family: 'Raleway', sans-serif;
    background-color: #FFE5D4;
    padding: 50px 90px;
}

.container-culinaria img{
    width: 35%;
    padding-right: 30px;
}

.container-culinaria h2{
    font-size: 24px;
    font-weight: 900;
    color: #68A691;
    letter-spacing: 5px;
}
.container-culinaria p{
    padding-top: 25px;
    font-size: 24px;
    font-weight: 500;
    color: #035E7B;
    text-align: justify;
}