@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700;900&display=swap');

.container-culinaria-main{
    font-family: 'Raleway', sans-serif;
    background-color: #FFE5D4;
    padding: 30px 90px;
    padding-bottom: 100px;
}

.container-culinaria-main h1{
    font-size: 36px;
    padding: 20px 20%;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 900;
    color: #9b2226;
}

.container-culinaria-main hr{
    color: #68A691;
}