@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.main-container{
    background-color: firebrick;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.main-container h1{
    margin-left: 25px;
    font-family: 'Parisienne', cursive;
    font-size: 46px;
}

.main-container ul{
    list-style: none;
    display: flex;
}

.main-container ul li{
    margin: 0 25px;
    font-size: 20px;
}

.main-container ul li a{
    text-decoration: none;
    color: white;
}